.ls-feature-card {
  padding: 3.75rem 16% 2.5rem;
  border-radius: 8px;
  box-shadow: 0 0 26.19px 0.81px rgba(42, 74, 91, 0.08),
    0 0 0 1px rgba(50, 46, 97, 0.1);

  .card-content {
    padding: 0;
  }

  .image {
    margin: 0 auto 1rem;
    max-width: 100%;

    &.is-159x159 {
      height: 159px;
      width: 159px;
    }
  }
}

.ls-price-card {
  box-shadow: 0 1px 19px 0 rgba(42, 74, 91, 0.07),
    0 0 0 1px rgba(50, 46, 97, 0.1);
  padding: 4rem 2.5%;
  margin: 0 1.5rem 2rem;
  border-radius: 5px;
  flex: 1 1 260px;

  ul {
    list-style: none !important;
  }

  .subtitle {
    font-size: 1.5rem;
    margin-top: -0.75rem !important;
    margin-bottom: 3rem;
  }

  .has-text-weight-light {
    font-weight: 300 !important;
  }

  .ls-orange {
    color: #e98f46;
  }

  .ls-purple {
    color: #653dea;
    border-color: currentColor;
  }

  .button {
    max-width: 100%;
    cursor: pointer;
    margin-top: 3rem;
    width: 15.125rem;
    font-size: 1.125rem;
    justify-content: center;
    border-color: currentColor;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out,
      border 0.2s ease-in-out;

    &.is-rounded {
      border-radius: 290486px;
      padding-left: 1em;
      padding-right: 1em;
    }

    &.is-link.is-outlined {
      background-color: transparent;
      border-color: #377fea;
      color: #377fea;
    }

    &.ls-orange:hover,
    &.ls-orange:active {
      color: #fff;
      background-color: #e98f46;
    }

    &.ls-purple:hover,
    &.ls-purple:active {
      color: #fff;
      background-color: #653dea;
    }

    &.is-link.is-outlined:hover,
    &.is-link.is-outlined:active {
      background-color: #377fea;
      color: #fff;
    }
  }

  &.ls-active {
    padding: 7rem 3%;
    box-shadow: 0 12px 28px 0 rgba(42, 74, 91, 0.18),
      0 0 0 1px rgba(50, 46, 97, 0.1);
  }
}

.ls-center-items {
  align-items: center;
}

.ls-space-around {
  justify-content: space-around;
}

.has-text-link {
  color: #377fea !important;
}
