.button,
a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  font-family: "SQ Market";
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 8px;
  width: 170px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.button:hover,
a.button:hover {
  filter: brightness(1.5);
}

.button--round {
  border-radius: 30px !important;
}

.button--dark {
  background-color: var(--black) !important;
}

.button--dark:hover {
  filter: brightness(1.5);
}

.button--link,
a.button--link {
  cursor: pointer;
  background-color: transparent !important;
  width: fit-content;
  color: var(--blue);
}

.button--link:hover,
a.button--link:hover {
  background-color: transparent !important;
  filter: brightness(1.2);
}

.button--dark.button--link,
a.button--dark.button--link {
  background-color: transparent !important;
  color: var(--black);
}

.button--dark.button--link:hover,
a.button--dark.button--link:hover {
  background-color: transparent !important;
  filter: brightness(1.5);
}

.button--large {
  height: 80px;
  width: 200px;
  font-size: 30px;
}

.button--large.button--round {
  border-radius: 38px !important;
}

.card {
  width: 100%;
  border-radius: 12px;
  color: #b3b3b3;
  border: 1px solid #ececec;
  overflow: hidden;
  padding: 20px;
  min-height: 70px;
  color: var(--black);
  box-sizing: border-box;
  display: block;
  border-radius: 6px;
}

.card--plain {
  border: none;
  background: #fff;
}

.card--small {
  border-radius: 6px;
}

.input {
  font-family: "SQ Market";
  font-weight: normal;
  border-radius: 4px;
  border: none;
  outline: 0;
  margin-bottom: 16px;
  font-size: 22px;
  padding: 0 20px;
  height: 55px;
  text-rendering: auto;
  color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  background-color: var(--white);
  cursor: text;
  box-sizing: border-box;
}

.input.input--error {
  background-color: #ffe3e3;
  border: 1px solid #e12d39;
}

.input.input--border {
  border: 1px solid #ebebeb;
}

.input__error-message {
  color: #ff8e8e;
  font-weight: bold;
  margin-bottom: 15px;
}

.input__info-message {
  color: var(--blue);
  font-weight: bold;
  margin-bottom: 15px;
}

.fullWidth {
  width: 100% !important;
}

.feed {
  width: 100%;
  max-width: 500px;
  padding: 5px;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 50px;
  overflow: scroll;
}

.feed > * {
  margin: 10px 0;
}

.title {
  color: var(--black);
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 500;
}
