.landing {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 70px 0 0;
  margin: 0;
  color: var(--black);
  box-sizing: border-box;
}

.landing__nav__icon {
  font-size: 23px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.landing__nav__icon * {
  margin: 5px;
}

.landing__nav .landing__nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding: 0 5vw;
  margin: 0 auto;
}

.landing__nav .landing__nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-size: 20px;
}

.landing__nav .landing__nav__link {
  margin: 10px;
}

.landing__nav .landing__nav__link a {
  color: var(--black);
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 5px;
  font-size: 18px;
}

.landing__nav .landing__nav__link a:hover {
  border-bottom: 3px solid var(--black);
}

.landing__nav .landing__nav__link a.border {
  border: 2px solid var(--black);
  border-radius: 30px;
  padding: 14px 20px;
  color: var(--black) !important;
}

.landing__nav .landing__nav__link a.border:hover {
  text-decoration: none;
  background-color: var(--black);
  color: var(--white) !important;
}

.landing__nav .landing__nav__link a:visited {
  color: var(--black);
  font-weight: 500;
  text-decoration: none !important;
}

.landing__hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 5vw;
  width: 100%;
  margin: 0 auto;
  min-height: 80vh;
  box-sizing: border-box;
}

.landing__hero h1 {
  font-weight: bold;
  font-size: 60px;
  color: var(--blue);
  margin-bottom: 20px;
}

.landing__hero p {
  font-size: 20px;
  max-width: 500px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing__hero img {
  width: 100%;
  max-width: 600px;
}

.landing__footer {
  color: var(--white);
  background-color: var(--black);
  padding: 100px 40px;
  box-sizing: border-box;
  width: 100vw;
}

.landing__footer a {
  color: var(--white);
}

.landing__footer__content {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1280px;
  flex-wrap: wrap;
}

.landing__footer__content .copy {
  text-align: right;
  flex: 1;
  opacity: 0.8;
}

.landing__footer ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.landing__footer ul li {
  margin: 20px;
}

.text-editor {
  margin: auto;
  font-size: 12px;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  height: 380px;
}

.text-editor code {
  font-size: 0.7em !important;
}

.text-editor__container {
  margin-left: 30px;
  position: relative;
}

.text-editor__icon {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 2;
}

.text-editor__icon.close {
  background-color: #b22222;
}
.text-editor__icon.minimize {
  background-color: #ffff00;
  left: 25px;
}
.text-editor__icon.resize {
  background-color: #228b22;
  left: 40px;
}

@media only screen and (max-width: 920px) {
  .landing {
    height: auto;
    padding-top: 0;
  }

  .landing > * {
    margin: 30px 0;
  }

  .landing > *:last-child {
    margin-bottom: 0;
  }

  .landing__nav__content {
    flex-direction: column;
    align-items: center;
  }

  .landing__nav .landing__nav__links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .landing__nav .landing__nav__links a {
    font-size: 0.8rem;
  }

  .landing__hero {
    text-align: center;
  }

  .landing__hero h1 {
    font-size: 40px;
  }

  .landing__hero .button {
    margin: 0 auto;
  }

  .text-editor code {
    font-size: 0.5em !important;
  }
}

@media only screen and (max-width: 480px) {
  .text-editor__container {
    display: none;
  }
}

#features {
  width: 100%;
  padding: 100px 5vw;
  margin: auto;
  box-sizing: border-box;
}

#features header {
  margin: auto;
  width: fit-content;
}

#features section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  margin: 50px 0;
  box-sizing: border-box;
}

#features section img {
  width: 300px;
}

#features section:nth-of-type(even) img {
  order: 0;
}

#features section:nth-of-type(even) .info {
  order: 1;
}

#features section .info {
  display: block;
  max-width: 600px;
  padding: 20px 40px;
  box-sizing: border-box;
}

#features section .info h2 {
  font-size: 30px;
  font-weight: bold;
}

#features section .info p {
  font-size: 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 480px) {
  #features section .info {
    text-align: center;
  }

  #features section .info p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 920px) {
  #features section img {
    order: 1 !important;
  }

  #features section .info {
    order: 0 !important;
  }
}

#usecases {
  padding: 100px 20px;
  box-sizing: border-box;
  box-sizing: border-box;
}

#usecases section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #000000;
  margin: 48px 0;
}

#usecases header {
  margin: auto;
  width: fit-content;
}

#usecases h3 {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0;
}

.usecases-block {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 1px none #e6ecf1;
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(24, 52, 117, 0.2);
  text-align: center;
  height: auto;
  width: 400px;
  margin: 20px;
  padding: 30px 50px;
  box-sizing: border-box;
}

.usecases-block h3 {
  color: var(--blue);
}

.usecases-block p {
  font-size: 16px;
}

.usecases-block img {
  display: block;
  margin: 30px auto;
}

#features h1,
#usecases h1,
#pricing h1 {
  font-size: 35px;
  text-align: center;
  width: fit-content;
  font-weight: bold;
}

#pricing {
  width: 100%;
  /* max-width: 1280px; */
  margin: auto;
  box-sizing: border-box;
  padding: 100px 20px;
}

#pricing header {
  margin: auto;
  width: fit-content;
}

#pricing section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 48px 0;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px none #e6ecf1;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 16px 0 rgba(24, 52, 117, 0.2);
  text-align: center;
  height: 400px;
  width: 300px;
  margin: 20px;
  font-size: 20px;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.pricing-card:hover {
  border: 5px solid var(--blue);
  box-shadow: 0 6px 28px 0 rgba(24, 52, 117, 0.2);
}

.pricing-card.pricing-card.special:hover {
  border: 5px solid var(--black);
}

.pricing-card .header {
  background: var(--white);
  padding: 30px 0;
  font-size: 25px;
  width: 100%;
  font-weight: bold;
  box-sizing: border-box;
  color: var(--blue);
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    var(--blue) 50%,
    var(--blue)
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.2s ease;
}

.pricing-card.special .header {
  color: var(--black);
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    var(--black) 50%,
    var(--black)
  );
}

.pricing-card:hover .header {
  background-position: 0 0;
  color: var(--white);
}

.pricing-card .price {
  font-weight: 500;
  font-size: 70px;
  color: var(--blue);
}

.pricing-card.special .price {
  color: var(--black);
}

.pricing-card .price sub {
  font-size: 20px;
}

.pricing-card a {
  margin: 30px auto;
}
